## Extraction and Load into Staging Database

### Extraction

In [ ]:
from src.extract.extraction import extract_database,extract_api,extract_spreadsheet

In [ ]:
# database
sales_df = extract_database(table_name='car_sales', engine_name='source')
sales_df.head()

,id_sales,year,brand_car,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,1,2014,Chevrolet,Impala Limited,LT Fleet,Sedan,automatic,2g1wb5e37e1112559,fl,4.0,21507.0,white,black,gm remarketing,13450.0,13800.0,Mon Feb 23 2015 05:00:00 GMT-0800 (PST)
1,2,2003,Dodge,Ram Pickup 1500,SLT,Quad Cab,,1d7ha18n13s152972,mo,31.0,79712.0,—,black,tdaf remarketing,6025.0,6300.0,Tue Jan 20 2015 02:30:00 GMT-0800 (PST)
2,3,2007,Pontiac,G6,GT,Convertible,automatic,1g2zh361474252178,nj,34.0,65698.0,red,black,car authority inc,7375.0,8000.0,Wed Jan 14 2015 01:30:00 GMT-0800 (PST)
3,4,2011,Toyota,Corolla,LE,Sedan,automatic,jtdbu4eexb9167571,fl,43.0,23634.0,black,beige,world omni financial corporation,10800.0,11400.0,Tue Jan 27 2015 01:30:00 GMT-0800 (PST)
4,5,2012,Lexus,ES 350,Base,Sedan,,jthbk1eg6c2495519,pa,35.0,26483.0,black,brown,meridian remarketing,22500.0,23300.0,Fri Jan 30 2015 01:00:00 GMT-0800 (PST)

In [ ]:
state_df = extract_api(url="https://raw.githubusercontent.com/Kurikulum-Sekolah-Pacmann/us_states_data/refs/heads/main/us_states.json")
state_df.head()

   id_state code        name
0         1   al     Alabama
1         2   ak      Alaska
2         3   az     Arizona
3         4   ar    Arkansas
4         5   ca  California

In [ ]:
brand_df = extract_spreadsheet(worksheet_name='brand_car')
brand_df.head()

0 brand_car_id brand_name           created_at
1            1      Acura  2025-11-27 20:33:20
2            2       Audi  2025-11-27 20:33:20
3            3    Bentley  2025-11-27 20:33:20
4            4        BMW  2025-11-27 20:33:20
5            5      Buick  2025-11-27 20:33:20

### Load into Staging Databasse

In [ ]:
from src.load.load import load_database

#### car sales

In [ ]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_sales      30000 non-null  int64
 1   year          30000 non-null  int64
 2   brand_car     30000 non-null  object
 3   model         30000 non-null  object
 4   trim          30000 non-null  object
 5   body          30000 non-null  object
 6   transmission  30000 non-null  object
 7   vin           30000 non-null  object
 8   state         30000 non-null  object
 9   condition     29341 non-null  float64
 10  odometer      29993 non-null  float64
 11  color         30000 non-null  object
 12  interior      30000 non-null  object
 13  seller        30000 non-null  object
 14  mmr           29998 non-null  float64
 15  sellingprice  30000 non-null  float64
 16  saledate      30000 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 3.9+ MB

In [ ]:
# subset columns and set index
list_sales_columns = ['id_sales','year','brand_car','transmission','state','condition','odometer','color','interior','mmr','sellingprice']
sales_df = sales_df[list_sales_columns]
sales_df = sales_df.set_index('id_sales')

In [ ]:
# load into staging
load_database(df=sales_df, table_name='car_sales', engine_name='staging')

#### us_state

In [ ]:
state_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id_state  68 non-null     int64
 1   code      68 non-null     object
 2   name      68 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.7+ KB

In [ ]:
state_df = state_df.set_index('id_state')

In [ ]:
load_database(df=state_df, table_name='us_state', engine_name='staging')

#### car_brand

In [ ]:
brand_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 1 to 51
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand_car_id  51 non-null     object
 1   brand_name    51 non-null     object
 2   created_at    51 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [ ]:
brand_df = brand_df.set_index('brand_car_id')

In [ ]:
load_database(df=brand_df, table_name='car_brand', engine_name='staging')

## ETL into Warehouse Database

### Extraction

In [1]:
import pandas as pd
from src.extract.extraction import extract_database

In [2]:
# database
sales_df = extract_database(table_name='car_sales', engine_name='staging')
sales_df.head()

,id_sales,year,brand_car,transmission,state,condition,odometer,color,interior,mmr,sellingprice,created_at
0,1,2014,Chevrolet,automatic,fl,4.0,21507.0,white,black,13450.0,13800.0,2025-11-29 09:20:44.454350
1,2,2003,Dodge,,mo,31.0,79712.0,—,black,6025.0,6300.0,2025-11-29 09:20:44.454350
2,3,2007,Pontiac,automatic,nj,34.0,65698.0,red,black,7375.0,8000.0,2025-11-29 09:20:44.454350
3,4,2011,Toyota,automatic,fl,43.0,23634.0,black,beige,10800.0,11400.0,2025-11-29 09:20:44.454350
4,5,2012,Lexus,,pa,35.0,26483.0,black,brown,22500.0,23300.0,2025-11-29 09:20:44.454350

In [3]:
brand_df = extract_database(table_name='car_brand', engine_name='staging')
brand_df.head()

   brand_car_id brand_name          created_at
0             1      Acura 2025-11-29 16:20:44
1             2       Audi 2025-11-29 16:20:44
2             3    Bentley 2025-11-29 16:20:44
3             4        BMW 2025-11-29 16:20:44
4             5      Buick 2025-11-29 16:20:44

In [4]:
state_df = extract_database(table_name='us_state', engine_name='staging')
state_df.head()

   id_state code        name                 created_at
0         1   al     Alabama 2025-11-29 09:20:53.444181
1         2   ak      Alaska 2025-11-29 09:20:53.444181
2         3   az     Arizona 2025-11-29 09:20:53.444181
3         4   ar    Arkansas 2025-11-29 09:20:53.444181
4         5   ca  California 2025-11-29 09:20:53.444181

In [ ]:
len(sales_df)

30000

### Transform

- After exploration data there are some datas that need to be transformed:
  - merging data
  - change data type for several columns
  - rename column 
  - subset columns for warehouse db

In [ ]:
# Merge data
sales_brand_df = pd.merge(sales_df,brand_df,left_on='brand_car', right_on='brand_name',how='left')
merge_df = pd.merge(sales_brand_df,state_df,left_on='state', right_on='code',how='left')

In [ ]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_sales      30000 non-null  int64
 1   year          30000 non-null  object
 2   brand_car     30000 non-null  object
 3   transmission  30000 non-null  object
 4   state         30000 non-null  object
 5   condition     29341 non-null  object
 6   odometer      29993 non-null  object
 7   color         30000 non-null  object
 8   interior      30000 non-null  object
 9   mmr           29998 non-null  object
 10  sellingprice  30000 non-null  object
 11  created_at_x  30000 non-null  datetime64[ns]
 12  brand_car_id  29474 non-null  float64
 13  brand_name    29474 non-null  object
 14  created_at_y  29474 non-null  datetime64[ns]
 15  id_state      29998 non-null  float64
 16  code          29998 non-null  object
 17  name          29998 non-null  object
 18  created_at    29998 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(1), object(13)
memory usage: 4.3+ MB

In [ ]:
# list of columns to use in warehouse
list_colums = ['id_sales','year','brand_car_id','transmission','id_state','condition','odometer','color','interior','mmr','sellingprice']
merge_df = merge_df[list_colums]

#rename columns 
columns = {
    'id_sales':'id_sales_nk',
    'sellingprice':'selling_price'
}
merge_df = merge_df.rename(columns=columns)

In [ ]:
merge_df.isna().sum()

id_sales_nk        0
year               0
brand_car_id     526
transmission       0
id_state           2
condition        659
odometer           7
color              0
interior           0
mmr                2
selling_price      0
dtype: int64

We can give brand_car_id, and id_state null values with 0 for now, because it won't be used later for modelling

In [ ]:
merge_df['brand_car_id'] = merge_df['brand_car_id'].fillna(0)
merge_df['id_state'] = merge_df['id_state'].fillna(0)

In [ ]:
list_col = ['year','transmission','condition','odometer','color','interior','mmr','selling_price']
for col in list_col:
    print(f"Column: {col}")
    print(merge_df[col].unique())
    print("===================================")

Column: year
['2014' '2003' '2007' '2011' '2012' '2005' '2013' '2002' '2008' '2015'
 '2006' '2009' '1998' '2004' '2010' '2000' '2001' '1999' '1996' '1991'
 '1994' '1993' '1995' '1997' '1988' '1992' '1989' '1985' '1987']
===================================
Column: transmission
['automatic' '' 'manual' 'Sedan']
===================================
Column: condition
['4.0' '31.0' '34.0' '43.0' '35.0' '32.0' '49.0' '42.0' '21.0' '28.0'
 '38.0' '26.0' '47.0' '46.0' '25.0' '24.0' '29.0' '37.0' '44.0' '19.0'
 '36.0' '23.0' '27.0' '48.0' '22.0' '39.0' None '1.0' '41.0' '33.0' '3.0'
 '45.0' '5.0' '2.0' '17.0' '11.0' '16.0' '14.0' '15.0' '13.0' '18.0'
 '12.0']
===================================
Column: odometer
['21507.0' '79712.0' '65698.0' ... '41092.0' '292925.0' '25083.0']
===================================
Column: color
['white' '—' 'red' 'black' 'burgundy' 'blue' 'silver' 'purple' '' 'gray'
 'gold' 'beige' 'green' 'charcoal' 'yellow' 'brown' 'orange' 'off-white'
 'turquoise' '16633' 'pink' '6388']
===================================
Column: interior
['black' 'beige' 'brown' 'tan' 'gray' '' '—' 'silver' 'green' 'off-white'
 'blue' 'red' 'burgundy' 'gold' 'purple' 'orange' 'white']
===================================
Column: mmr
['13450.0' '6025.0' '7375.0' ... '59100.0' '114000.0' '77000.0']
===================================
Column: selling_price
['13800.0' '6300.0' '8000.0' '11400.0' '23300.0' '12700.0' '9700.0'
 '13100.0' '18850.0' '1000.0' '11200.0' '13900.0' '28000.0' '14500.0'
 '1300.0' '9100.0' '11900.0' '12500.0' '14200.0' '2000.0' '3300.0'
 '15200.0' '7400.0' '32500.0' '7000.0' '7700.0' '39200.0' '14700.0'
 '32000.0' '7900.0' '24000.0' '26500.0' '24500.0' '9000.0' '7500.0'
 '1800.0' '13000.0' '1600.0' '19100.0' '4400.0' '5700.0' '22200.0'
 '32250.0' '1150.0' '4600.0' '18200.0' '15300.0' '7100.0' '10900.0'
 '29200.0' '2700.0' '25100.0' '9300.0' '3600.0' '3100.0' '20800.0'
 '12000.0' '4500.0' '11600.0' '2800.0' '49700.0' '13500.0' '1500.0'
 '10000.0' '11800.0' '20000.0' '18600.0' '9401.0' '26900.0' '13700.0'
 '19400.0' '47500.0' '16000.0' '23000.0' '24200.0' '3400.0' '14000.0'
 '9600.0' '400.0' '2500.0' '26600.0' '20400.0' '17750.0' '17100.0'
 '22750.0' '5400.0' '28800.0' '850.0' '11500.0' '19500.0' '12200.0'
 '8900.0' '7800.0' '600.0' '10400.0' '8100.0' '54000.0' '10700.0' '5200.0'
 '1700.0' '2450.0' '6800.0' '16200.0' '9200.0' '24300.0' '15000.0'
 '15100.0' '17300.0' '9800.0' '4700.0' '3900.0' '23800.0' '3700.0'
 '18100.0' '3000.0' '23400.0' '23100.0' '3500.0' '15900.0' '20600.0'
 '8300.0' '2400.0' '4100.0' '38000.0' '10100.0' '13600.0' '10500.0'
 '1050.0' '10600.0' '15600.0' '6500.0' '11100.0' '27750.0' '11250.0'
 '5350.0' '70200.0' '6600.0' '14600.0' '24250.0' '35400.0' '8700.0'
 '11001.0' '4800.0' '5900.0' '30500.0' '19700.0' '15400.0' '1850.0'
 '23750.0' '18500.0' '57500.0' '17000.0' '20300.0' '36250.0' '14800.0'
 '16700.0' '17500.0' '30100.0' '8400.0' '9500.0' '5100.0' '6700.0'
 '18400.0' '7250.0' '24600.0' '16500.0' '29000.0' '19200.0' '13400.0'
 '18750.0' '9400.0' '23500.0' '11000.0' '7200.0' '1250.0' '16800.0'
 '18800.0' '12300.0' '26700.0' '900.0' '8500.0' '30200.0' '12100.0'
 '1550.0' '10200.0' '2100.0' '18000.0' '19300.0' '17400.0' '22000.0'
 '37200.0' '6750.0' '22900.0' '25000.0' '31100.0' '23900.0' '3200.0'
 '4300.0' '1900.0' '9900.0' '8800.0' '10800.0' '20500.0' '6000.0'
 '12600.0' '2300.0' '26000.0' '2900.0' '35200.0' '5000.0' '19900.0'
 '3800.0' '14300.0' '21300.0' '21200.0' '19000.0' '30750.0' '14100.0'
 '350.0' '17900.0' '23250.0' '5600.0' '500.0' '28900.0' '17600.0'
 '16900.0' '21000.0' '17200.0' '13300.0' '12800.0' '25700.0' '16400.0'
 '300.0' '40600.0' '21500.0' '19800.0' '15700.0' '16300.0' '8250.0'
 '12900.0' '59000.0' '4900.0' '16600.0' '14400.0' '2600.0' '1200.0'
 '21900.0' '22700.0' '12400.0' '66000.0' '42500.0' '6200.0' '56200.0'
 '29500.0' '22300.0' '5500.0' '37700.0' '22400.0' '15500.0' '25500.0'
 '11300.0' '1025.0' '24400.0' '18300.0' '31800.0' '34800.0' '800.0'
 '16250.0' '21800.0' '18250.0' '2615.0' '2200.0' '29800.0' '27000.0'
 '16100.0' '275.0' '52500.0' '8200.0' '17250.0' '25800.0' '14900.0'
 '55000.0' '21100.0' '20900.0' '23200.0' '35000.0' '4000.0' '8600.0'
 '700.0' '45900.0' '31200.0' '6400.0' '5800.0' '12350.0' '39400.0'
 '20200.0' '22500.0' '38400.0' '32400.0' '18700.0' '11700.0' '51500.0'
 '26250.0' '34500.0' '10300.0' '37001.0' '40800.0' '20700.0' '24900.0'
 '31400.0' '32100.0' '28200.0' '39500.0' '33100.0' '17800.0' '26400.0'
 '27250.0' '1400.0' '31250.0' '43700.0' '25200.0' '29250.0' '43750.0'
 '18900.0' '40250.0' '42300.0' '2550.0' '4050.0' '10350.0' '5300.0'
 '2750.0' '24750.0' '6900.0' '33800.0' '33000.0' '1100.0' '12750.0'
 '15800.0' '13200.0' '8750.0' '25750.0' '23600.0' '13250.0' '32200.0'
 '6250.0' '22600.0' '24800.0' '27800.0' '19750.0' '26200.0' '1950.0'
 '25900.0' '7600.0' '52250.0' '4200.0' '22100.0' '34000.0' '4150.0'
 '24100.0' '31000.0' '30250.0' '13950.0' '28300.0' '35500.0' '3150.0'
 '43800.0' '27500.0' '45000.0' '33700.0' '21750.0' '3750.0' '15750.0'
 '37000.0' '2050.0' '2650.0' '1350.0' '9250.0' '21600.0' '6100.0'
 '21700.0' '36700.0' '46000.0' '23700.0' '19250.0' '45400.0' '25600.0'
 '92500.0' '14750.0' '39000.0' '48200.0' '37250.0' '16750.0' '34600.0'
 '650.0' '24700.0' '27300.0' '17700.0' '19600.0' '39750.0' '7300.0'
 '22800.0' '50000.0' '28500.0' '26750.0' '33750.0' '37100.0' '750.0'
 '37500.0' '30400.0' '11501.0' '35300.0' '38100.0' '450.0' '38250.0'
 '36750.0' '43000.0' '9801.0' '50500.0' '36000.0' '33200.0' '45500.0'
 '30900.0' '13750.0' '25400.0' '30000.0' '44000.0' '52000.0' '25250.0'
 '48500.0' '28100.0' '33500.0' '27700.0' '31750.0' '950.0' '27600.0'
 '21400.0' '43500.0' '25300.0' '21250.0' '58000.0' '29700.0' '20100.0'
 '31500.0' '68000.0' '26300.0' '28700.0' '39801.0' '28250.0' '29900.0'
 '26100.0' '46750.0' '49250.0' '20250.0' '10950.0' '375.0' '36300.0'
 '29600.0' '42800.0' '30800.0' '1750.0' '46700.0' '28501.0' '26800.0'
 '22250.0' '48000.0' '25025.0' '32700.0' '40500.0' '45250.0' '250.0'
 '43400.0' '32300.0' '37800.0' '32800.0' '12250.0' '44500.0' '34250.0'
 '2350.0' '29400.0' '41750.0' '43600.0' '28750.0' '28600.0' '42000.0'
 '9650.0' '30300.0' '23801.0' '35750.0' '200.0' '35250.0' '20750.0'
 '36500.0' '3925.0' '31600.0' '34300.0' '35700.0' '41000.0' '64500.0'
 '31900.0' '39600.0' '61900.0' '8601.0' '27400.0' '29650.0' '52600.0'
 '40900.0' '36600.0' '51800.0' '40300.0' '57750.0' '52200.0' '29550.0'
 '11750.0' '28400.0' '36800.0' '29750.0' '79750.0' '51000.0' '550.0'
 '27900.0' '29300.0' '35900.0' '12301.0' '6850.0' '42400.0' '1450.0'
 '32750.0' '64000.0' '16350.0' '16701.0' '1650.0' '9750.0' '54500.0'
 '86000.0' '13150.0' '31300.0' '39250.0' '38500.0' '15250.0' '30600.0'
 '57200.0' '40200.0' '14250.0' '49000.0' '54250.0' '41200.0' '34700.0'
 '72000.0' '56000.0' '58500.0' '9901.0' '61500.0' '47000.0' '34750.0'
 '65000.0' '16901.0' '33250.0' '39100.0' '15350.0' '134000.0' '3950.0'
 '38750.0' '40000.0' '34200.0' '37600.0' '113000.0' '3850.0' '87000.0'
 '44600.0' '75250.0' '4750.0' '86400.0' '3350.0' '34400.0' '6650.0'
 '225.0' '56500.0' '39800.0' '3550.0' '32600.0' '150.0' '44100.0'
 '10250.0' '2950.0' '725.0' '40100.0' '34900.0' '27200.0' '71250.0'
 '71600.0' '4850.0' '38200.0' '325.0' '61000.0' '48100.0' '75400.0'
 '35600.0' '36400.0' '42600.0' '70000.0' '5750.0' '80250.0' '66500.0'
 '5250.0' '29100.0' '49500.0' '9150.0' '3050.0' '50250.0' '40750.0'
 '4250.0' '69000.0' '11601.0' '53250.0' '425.0' '33600.0' '57400.0'
 '66001.0' '38700.0' '10750.0' '4950.0' '2850.0' '77000.0' '44400.0'
 '10901.0' '41500.0' '53200.0' '11150.0' '33400.0' '5650.0' '33300.0'
 '13601.0' '11290.0' '59250.0' '26850.0' '48600.0' '67000.0' '3650.0'
 '66100.0' '42750.0' '3501.0' '4450.0' '36200.0' '37750.0' '27001.0'
 '30700.0' '41800.0' '39900.0' '101000.0' '41900.0' '2150.0' '22101.0'
 '14650.0' '47250.0' '74000.0' '27100.0' '675.0' '3450.0' '825.0' '525.0'
 '46250.0' '58400.0' '13001.0' '62000.0' '6150.0' '53500.0' '48700.0'
 '27425.0' '5150.0' '71500.0' '60500.0' '88000.0' '12450.0' '9601.0'
 '57250.0' '35800.0' '30501.0' '31700.0' '6350.0' '43200.0' '58250.0'
 '14350.0' '45100.0' '38800.0' '33900.0' '17350.0' '45200.0' '47800.0'
 '46900.0' '40400.0' '83500.0' '41250.0' '7750.0' '57000.0' '11801.0'
 '5050.0' '35100.0' '59500.0' '154000.0' '81500.0' '3250.0' '4550.0'
 '1375.0' '4350.0' '55500.0' '2325.0' '8950.0' '59600.0' '41700.0'
 '14484.0' '65900.0' '79600.0' '43900.0' '23001.0' '23425.0' '875.0'
 '43100.0' '45800.0' '4650.0' '104000.0' '83000.0' '575.0' '14258.0'
 '59200.0' '5550.0' '92600.0' '6275.0' '21901.0' '9101.0' '38600.0'
 '2250.0' '11701.0' '45550.0' '49400.0' '46400.0' '7850.0' '42200.0'
 '39300.0' '75500.0' '99000.0' '68001.0' '20630.0' '46200.0' '81000.0'
 '63500.0' '37400.0' '6625.0' '6501.0' '10855.0' '7550.0' '10850.0'
 '6325.0' '12850.0' '54750.0' '74500.0' '49200.0' '7950.0' '103000.0'
 '46500.0' '16450.0' '18575.0' '36100.0' '50750.0' '10550.0' '67200.0'
 '9501.0' '12201.0' '7050.0' '71000.0' '29150.0' '63000.0' '5850.0'
 '23601.0' '13450.0' '7855.0' '15950.0' '11350.0' '23201.0' '59750.0'
 '37850.0' '43250.0' '7350.0' '50600.0' '55250.0' '36050.0' '10150.0'
 '40700.0' '1280.0' '53000.0' '53900.0' '105000.0' '75000.0' '55600.0'
 '69500.0' '65800.0' '11901.0' '17101.0' '38300.0' '44250.0' '475.0'
 '8701.0' '34100.0' '12501.0' '82000.0' '41400.0' '29840.0' '20001.0'
 '58800.0' '16950.0' '10050.0' '8401.0' '9450.0' '64600.0' '100000.0'
 '21990.0' '65500.0' '10001.0' '32900.0' '7650.0' '13650.0' '10225.0'
 '13850.0' '12050.0' '74901.0' '44200.0' '38900.0' '41100.0' '13901.0'
 '5360.0' '44700.0' '45750.0' '120000.0' '48750.0' '51250.0' '68500.0'
 '44750.0' '100.0' '76500.0' '975.0' '12150.0' '20401.0' '18101.0'
 '53300.0' '9950.0' '54600.0' '47600.0' '109000.0' '17550.0' '42900.0'
 '54100.0' '38150.0' '52400.0' '49750.0' '78000.0' '63800.0']
===================================

In [ ]:
cols_to_cast = {
    'year':'int',
    'odometer':'float',
    'condition':'float',
    'mmr':'float',
    'selling_price':'float',
    'id_state':'int',
    'brand_car_id':'int'
}

merge_df = merge_df.astype(cols_to_cast)

In [ ]:
merge_df.head()

,id_sales_nk,year,brand_car_id,transmission,id_state,condition,odometer,color,interior,mmr,selling_price
0,1,2014,7,automatic,9,4.0,21507.0,white,black,13450.0,13800.0
1,2,2003,10,,25,31.0,79712.0,—,black,6025.0,6300.0
2,3,2007,38,automatic,30,34.0,65698.0,red,black,7375.0,8000.0
3,4,2011,48,automatic,9,43.0,23634.0,black,beige,10800.0,11400.0
4,5,2012,27,,38,35.0,26483.0,black,brown,22500.0,23300.0

In [5]:
from src.transform.transform import transform_data

In [6]:
merge_df = transform_data(sales_df,brand_df,state_df)
merge_df.head()

,year,brand_car_id,transmission,id_state,condition,odometer,color,interior,mmr,selling_price
id_sales_nk,,,,,,,,,,
1,2014,7,automatic,9,4.0,21507.0,white,black,13450.0,13800.0
2,2003,10,,25,31.0,79712.0,—,black,6025.0,6300.0
3,2007,38,automatic,30,34.0,65698.0,red,black,7375.0,8000.0
4,2011,48,automatic,9,43.0,23634.0,black,beige,10800.0,11400.0
5,2012,27,,38,35.0,26483.0,black,brown,22500.0,23300.0

In [ ]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30000 entries, 1 to 30000
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           30000 non-null  int64
 1   brand_car_id   30000 non-null  int64
 2   transmission   30000 non-null  object
 3   id_state       30000 non-null  int64
 4   condition      29341 non-null  float64
 5   odometer       29993 non-null  float64
 6   color          30000 non-null  object
 7   interior       30000 non-null  object
 8   mmr            29998 non-null  float64
 9   selling_price  30000 non-null  float64
dtypes: float64(4), int64(3), object(3)
memory usage: 2.5+ MB

### Load

In [ ]:
from src.load.load import load_database

In [ ]:
load_database(df=merge_df, table_name='car_sales', engine_name='warehouse')

## Modelling

In [7]:
from src.extract.extraction import extract_database
import numpy as np

In [8]:
car_df = extract_database(table_name='car_sales', engine_name='warehouse')
car_df.head()

,sales_id,id_sales_nk,year,brand_car_id,transmission,id_state,condition,odometer,color,interior,mmr,selling_price,created_at
0,6107ef38-d092-420e-ab9e-88120259ab7c,1066,2004,24,,5,27.0,119146.0,blue,gray,1750.0,1300.0,2025-11-29 09:46:40.930373
1,c6ce798d-1273-43a8-982f-7311fec5bd57,1919,2010,35,,38,4.0,41825.0,blue,gray,8325.0,8100.0,2025-11-29 09:46:40.930373
2,c4d81934-fb08-4da3-81d2-8dc0691654b6,3883,2005,23,,42,2.0,99125.0,beige,—,5550.0,2800.0,2025-11-29 09:46:40.930373
3,dd73adc0-157b-4aa6-96bd-2b0192fede7d,3981,2004,0,,61,27.0,169674.0,green,gray,2450.0,1350.0,2025-11-29 09:46:40.930373
4,96112b8c-3582-4c22-b7fa-9a38f70b3537,4351,2000,0,,38,33.0,141872.0,blue,gray,1775.0,1600.0,2025-11-29 09:46:40.930373

### Cleaning Data

In [9]:
from src.modelling.clean import cleaning_data

In [10]:
clean_df = cleaning_data(car_df)
clean_df.head()

,year,transmission,condition,odometer,color,interior,mmr,selling_price
0,2004,NaN,27.0,119146.0,blue,gray,1750.0,1300.0
1,2010,NaN,4.0,41825.0,blue,gray,8325.0,8100.0
2,2005,NaN,2.0,99125.0,beige,NaN,5550.0,2800.0
3,2004,NaN,27.0,169674.0,green,gray,2450.0,1350.0
4,2000,NaN,33.0,141872.0,blue,gray,1775.0,1600.0

### Preprocessing

In [11]:
import pandas as pd

from src.modelling.preprocessing.splitting_data import split_data

In [12]:
# Split data
X_train,X_test,y_train,y_test = split_data(clean_df, target='selling_price', test_size=0.2, random_state=42)

In [13]:
X_train.head()

       year transmission  condition  odometer   color interior      mmr
12190  2012          NaN       41.0   27338.0   black    black  12500.0
775    2013    automatic        4.0   56241.0    gray      NaN  36600.0
21229  2012    automatic       49.0   24017.0  silver     gray  22600.0
22380  2011    automatic       44.0   95971.0   black     gray  16400.0
26826  2010          NaN       42.0   40158.0   black    black  23300.0

In [14]:
from src.modelling.preprocessing.preprocess import preprocess_data

In [15]:
num_cols = ['year','odometer','condition','mmr']
cat_cols = ['transmission','color','interior']

In [16]:
preprocess = preprocess_data(num_cols,cat_cols)

X_train_pre = preprocess.fit_transform(X_train)
X_test_pre = preprocess.transform(X_test)

### XGBoost

In [17]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

model = XGBRegressor(
    n_estimators=500,
    learning_rate=0.05,
    max_depth=6,
    subsample=0.8,
    colsample_bytree=0.8,
)

model.fit(X_train_pre, y_train)

y_train_pred = model.predict(X_train_pre)


mse = mean_squared_error(y_train, y_train_pred)
rmse = mse ** 0.5
print(rmse)

1149.5873140431747

In [18]:
import numpy as np

mape = round(np.mean(np.abs((y_train - y_train_pred) / y_train)) * 100, 2)
print(mape)

11.94

In [19]:
# test
X_test_pre = preprocess.transform(X_test)
y_test_pred = model.predict(X_test_pre)


mse_test = mean_squared_error(y_test, y_test_pred)
rmse_test = mse_test ** 0.5
print(rmse_test)

2019.755133946973

In [20]:
mape = round(np.mean(np.abs((y_test - y_test_pred) / y_test)) * 100, 2)
print(mape)

13.41

In [21]:
from src.modelling.xgboost import modelling_process

modelling_process(X_train_pre, y_train, X_test_pre, y_test)

Train RMSE: 1149.59
Train MAPE: 11.94
Test RMSE: 2019.76
Test MAPE: 13.41